{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "libs/bootstrap/css/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


    {% block css %}
    {% endblock %}

</head>

<body>

{% block layout %}
{% endblock %}

</body>

<script src="{% static "libs/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "libs/popper.min.js" %}"></script>
<script src="{% static "libs/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "libs/moment.js" %}"></script>



{% block scripts %}
{% endblock %}

</html>

