{% extends 'linkstore/base.html' %}
{% load static %}

{% block css %}
   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static "libs/style.css" %}">
{% endblock %}

{% block layout %}

<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          			<i class="fa fa-bars"></i>
	         			 <span class="sr-only">Toggle Menu</span>
	        		</button>
        		</div>
				<div class="p-4">
		  			<h1><a href="{% url 'link' %}" class="logo">LinkStore</a></h1>
					<ul class="list-unstyled components mb-5">
					  <li class="{% if active == 'recent_links' %}active{% endif %}">
						<a href="{% url 'recent_link' %}"><span class="fa fa-home mr-3"></span>View Links</a>
					  </li>
					  <li class="{% if active == 'add_link' %}active{% endif %}">
						  <a href="{% url 'add_link' %}"><span class="fa fa-user mr-3"></span>Add link</a>
					  </li>
					  <li  class="{% if active == 'category_links' %}active{% endif %}">
					  <a href="{% url 'category_link' category='all' %}"><span class="fa fa-sticky-note mr-3"></span>Category links</a>
					  </li>
					  <li>
					  <a href="#"><span class="fa fa-suitcase mr-3"></span>History</a>
					  </li>
					  <!-- <li>
					  <a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
					  </li> -->
					  <!-- <li>
					  <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
					  </li> -->
						 <li>
							<a data-toggle="modal" data-target="#logoutModal"><span class="fa fa-power-off mr-3"></span>Logout</a>
					  </li>
					</ul>
				</div>
    	</nav>
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Logout</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure you want to logout ??
			  		</div>
				  	<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="location.href='{% url 'logout' %}'">Logout</button>
					</div>
				</div>
		  	</div>
		</div>
   <div class="container p-4 p-md-5 pt-5" id="content">
      {% block content %}
      {% endblock %}
   </div>
</div>

{% endblock %}


{% block scripts %}
   <script src="{% static "libs/main.js" %}"></script>
{% endblock %}