{% extends 'linkstore/layout.html' %}


{% block content %}
        <div class="row p-3 mt-2">
            <div class="col-lg-6 col-md-12 col-sm-12 ml-auto mr-auto card p-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>{{header}}</h4>
                    </div>
                </div>
                <form method="POST" class="post-form text-dark">
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label >{{field.label_tag}}</label>
                        {% if field.name == 'category' %}
                            <select class="form-control border" name="category">
                                <option {% if field.value == "social" %} selected {% endif %}>
                                    Social
                                </option>
                                <option {% if field.value == "travel" %} selected {% endif %}>
                                    Travel
                                </option>
                                <option {% if field.value == "finance" %} selected {% endif %}>
                                    Finance
                                </option>
                                <option {% if field.value == "education" %} selected {% endif %}>
                                    Education
                                </option>
                                <option {% if field.value == "business" %} selected {% endif %}>
                                    Business
                                </option>
                                <option {% if field.value == "personal" %} selected {% endif %}>
                                    Personal
                                </option>
                                <option {% if field.value == "entertainment" %} selected {% endif %}>
                                    Entertainment
                                </option>
                            </select>
                        {% elif field.name == 'favorite' %}
                            {{ field }}
                        {% else %}
                            <input type="text" class="form-control border" name="{{field.name}}"
                               value="{% if field.value %} {{field.value}} {% endif %}">
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="row mt-5">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    {% csrf_token %}

                </form>
            </div>
        </div>
{% endblock %}