{% extends 'linkstore/base.html' %}

{% block content %}
{% load socialaccount %}
<style>

.col-sm-4 {
    width: 33.33333333%;
    text-align: center;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'recent_link' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/>
                        </svg>
                </div>
                </a>

                <div class="panel-heading"><a href="{% url 'recent_link' %}">Recent History</a></div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <a href="{% url 'add_link' %}" >
                <div class="panel-body"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
	<path fill="none" d="M0 0h24v24H0V0z"/>
<path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM17 11h-4v4h-2v-4H7V9h4V5h2v4h4v2z"/>
</svg> </div>
</a>
                <div class="panel-heading"><a href="{% url 'add_link' %}" >Add Link</a></div>

            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hr style="
        margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
">
</div>
</div>
</div>

<!--First row -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0zm0 0h24v24H0V0z"/>
                        <path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                    </svg>
                </div>
                <div class="panel-heading">Saved Links</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px"
	 height="80px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g id="Bounding_Box">
	<rect fill="none" width="24" height="24"/>
</g>
<g id="Flat">
	<g id="ui_x5F_spec_x5F_header_copy_2">
	</g>
	<g>
		<g>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M16.67,13.13C18.04,14.06,19,15.32,19,17v3h4v-3
				C23,14.82,19.43,13.53,16.67,13.13z"/>
		</g>
		<g>
			<circle fill-rule="evenodd" clip-rule="evenodd" cx="9" cy="8" r="4"/>
		</g>
		<g>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M15,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4c-0.47,0-0.91,0.1-1.33,0.24
				C14.5,5.27,15,6.58,15,8s-0.5,2.73-1.33,3.76C14.09,11.9,14.53,12,15,12z"/>
		</g>
		<g>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M9,13c-2.67,0-8,1.34-8,4v3h16v-3C17,14.34,11.67,13,9,13z"/>
		</g>
	</g>
</g>
</svg>
                </div>
                <div class="panel-heading">Social</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
                        <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </div>
                <div class="panel-heading">travel</div>

            </div>
        </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/><path d="M11 17h2v-1h1c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1h-3v-1h4V8h-2V7h-2v1h-1c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1h3v1H9v2h2v1zm9-13H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4V6h16v12z"/>
                    </svg>
                </div>
                <div class="panel-heading">Finance</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
                </div>
                <div class="panel-heading">Personal Links</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
                </div>
                <div class="panel-heading">Personal Links</div>

            </div>
        </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
                </div>
                <div class="panel-heading">Personal Links</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
                </div>
                <div class="panel-heading">Personal Links</div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                    </svg>
                </div>
                <div class="panel-heading">Personal Links</div>

            </div>
        </div>
</div>
</div>
{% endblock %}